.main-block {
   width: 560px;
   height: 560px;
   margin: 30px auto;
   border: 1px solid black;
}
.block {
   width: 70px;
   height: 70px;
   float: left;
}
.black {
   background: #d18b47;
}
.white {
   background: #ffce9e;
}
